body {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: auto;
  padding: 10px;
  background: #f4f4f4;
}

h1, h2 {
  text-align: center;
}

form {
  background: white;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

input, select, button {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
}

#listaDespesas div {
  background: white;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
}
button.delete {
  background: red;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}